@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@import url('https://fonts.googleapis.com/css2?family=Anta&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
    :root {
        --font-size: 18px;
        --color-1: #7EE66C;
        --color-2: #ffffff;
        --color-1-button: #2bd60c;
        --color-1-hover-option: #5AB850;
        --color-1-hover-button: #24a80c;
        --color-1-active: rgb(53, 245, 19);
        --color-1-disabled: #c2f1ba;
        --color-border: #4d4d4d;
        --text-color: #000000;
        --text-color-inactive: #4d4d4d;
    }
    html {
        font-size: var(--font-size);
        text-align: justify;
    }

    body {
        font-size: var(--font-size);
        text-align: justify;
    }
}

@layer components {
    .title {
        font-size: 34px;
        font-weight: 500;
    }

    .container {
        padding: 80px 90px;
    }
}
